

.input {
    background-color: rgb(230, 222, 222);
    
    font-size: 28px;
    span {
        background-color: rgb(100, 98, 98);
        text-align: right;
        color: black;
        #result {
            font-size: 20px;
        }
    }
}

.keys { 
    background: linear-gradient(135deg, #3a3a3a, #2e2b2b);
    height: 350px;
    margin: 1px;
    font-size: 24px;
    .row {
        height: 70px;
        display: flex;
        flex-direction: row;
        .number {
            width: 75%;
            display: flex;
            color: #ffffff;
           
            span {
                width: calc(100%/3);
                height: 70px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
        }
        .symbol {
            width: 25%;
            margin: 1px;
           
            background-color: #ffffff;
            font-size: 34px;
            display: flex;
            flex-direction: row;
            span {
                width: 100%;
                height: 70px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
            &.action {// =
                background-color: #413e3e;
                
                
                color: #ffffff;
               // box-shadow: 0 25px 60px -10px rgba(255, 10, 0, 0.5);
            }
            
        }
        .symbol2 {
            width: 25%;
            margin: 1px;
           
            background-color: #ffffff;
            font-size: 27px;
            display: flex;
            flex-direction: row;
            span {
                width: 100%;
                height: 70px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
            
        }
    }
}
.dull {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
}