.input {
    background-color: white;
    padding: 7%;
    font-size: 28px;
    span {
        text-align: right;
        color: black;
        #result {
            font-size: 20px;
        }
    }
}
.keys {
    background: white;
    height: 93%;
    margin-top: 7%;
    font-size: 24px;
    .row {
        height: 20%;
        display: flex;
        flex-direction: row;
        .number {
            width: 75%;
            display: flex;
            color: black;
            span {
                width: calc(100%/3);
                height: 20%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
        }
        .symbol {
            width: 25%;
            background-color: white;
            font-size: 25px;
            span {
                width: 100%;
                height: 20%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
            &.action {
                background: rgb(60, 60, 255);
                color: white;
            }
        }
    }
}